/* Estilos generales que se aplican a todos los tamaños de pantalla */
body {
    font-family: cursive;
    background-color: #f8f9fa;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: #185abc;
    margin-bottom: 20px;
}

h1.dark-mode {
    color: #185abc;
}

/* Dark mode */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .modal-content,
.dark-mode .dropdown-menu,
.dark-mode .card,
.dark-mode .fc,
.dark-mode .profile-card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .modal-header,
.dark-mode .modal-body,
.dark-mode .modal-footer,
.dark-mode .fc .fc-daygrid-day,
.dark-mode .fc .fc-button,
.dark-mode .navbar,
.dark-mode .form-control,
.dark-mode .btn-outline-light {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .fc .fc-daygrid-day-number {
    color: #ffffff;
}

.dark-mode .fc .fc-event {
    background-color: blue;
    border-color: #555555;
    color: #ffffff;
}

.dark-mode .fc .fc-toolbar-title,
.dark-mode .navbar-dark .navbar-brand,
.dark-mode .navbar-dark .nav-link {
    color: #e0e0e0;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
    color: #fff;
}

/* Dropdown menu */
.navbar-nav .dropdown-menu {
    background-color: #343a40;
    border: none;
    border-radius: 0;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #fff;
    transition: background-color 0.3s;
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:active {
    background-color: #495057;
}

/* Calendar */
#calendar {
    background-color: #f0e8e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fc-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.fc-button:hover {
    background-color: #0056b3;
}

/* Particles */
.particles {
    background-size: cover;
    background-position: 50;
}

#left-particles, #right-particles {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30%; /* Ajusta este valor según el ancho deseado */
    z-index: -1;
}

#left-particles {
    left: 0;
}

#right-particles {
    right: 0;
}

/* Cards */
.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

/* Profile Card */
.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card img {
    width: 250px;
    height: 500px;
}

/* Notifications bell */
#notificationsDropdown {
    position: relative;
}

#notificationsDropdown .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 300px;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    max-height: 0;
}

#notificationsDropdown.show .dropdown-menu {
    opacity: 1;
    max-height: 300px;
}

#notificationsDropdown .dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 15px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

#notificationsDropdown .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#notificationsDropdown .dropdown-item:hover {
    background-color: #f8f9fa;
    transform: translateX(5px);
}

#notificationsDropdown .dropdown-item i {
    margin-right: 10px;
    color: #007bff;
}

#notificationsDropdown .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #dc3545;
    color: #fff;
}

/* Caja de notificaciones */
#notificationsDropdown .dropdown-menu {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

#notificationsDropdown .dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

#notificationsDropdown .dropdown-item:last-child {
    border-bottom: none;
}

/* Container */
.container {
    margin-top: 80px; /* Espacio adicional para evitar que el contenido se solape con la navbar */
}

/* Media queries para ajustes específicos en pantallas más pequeñas */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }
    /* Ajustes adicionales específicos para dispositivos móviles */
    .profile-card img {
        width: 150px;
        height: 150px;
    }

    .card img {
        height: auto;
    }
}
.card1 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    width: auto;
}

.dark-mode .card1{
    background-color: #121212;
    color: #ffffff;
}
.card-header {
    background-color: #007bff;
    color: white;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 1rem;
}

.particles-js {
    position: fixed;
    top: 0;
    height: 100vh; /* Ajusta la altura según tu diseño */
    width: 50%; /* Ajusta el ancho según tu diseño */
    z-index: -1; /* Para asegurarte de que estén detrás del contenido principal */
}

#particles-js-left {
    left: 0;
    background-color:transparent
}

#particles-js-right {
    right: 0;
    background-color: transparent

    }

